* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Lora", serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
}

a,
a:link,
a:visited {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

input {
	display: block;
	width: 100%;
	font-size: 1.6rem;
	padding: 0.8rem 1.6rem;
	border: 1px solid #f25151;
	border-radius: 5px;
}

input:focus {
	outline: 1px solid #f25151;
}

ul {
	list-style: none;
}

.grid {
	display: grid;
	align-items: center;
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.icon {
	height: 2.4rem;
	width: 2.4rem;
}

/*
///////////////
//// FONTS ////
///////////////
---font-family
default: 
Lora
Montserrat

---default: 
400
500
600
700
====================
====================

---font-sizes (in px): 

10 / 12 / 14 / 16 / 18 / 20 / 22 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


////////////////
//// COLORS ////
////////////////
---Tints:
#f25151


#ff5a5a

---Primary:
#f03e3e


#ff3131
---Shades: 

---Grays:
#343a40
#555
#868e96
#888
#adb5bd
#fff

////////////////////////
//// SPACING SYSTEM ////
////////////////////////

---padding-margin-gap (in px):

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/
