/* 
////////////////////////
//// HEADER SECTION ////
////////////////////////
*/

.header {
	width: 100%;
	height: 7rem;
}

.navigation {
	height: 100%;
	padding: 0 6rem 0 3rem;
}

.logo {
	padding-top: 1rem;
	height: 6rem;
}

.search-form {
	width: 100%;
	margin-left: auto;
	display: flex;
	align-items: center;
	position: relative;
}

.search-input {
	padding-left: 4.8rem;
}

.search-input::placeholder {
	font-size: 1.4rem;
}

.btn-search {
	height: 3.7rem;
	width: 3.7rem;
	border: none;
	background-color: #f03e3e;
	padding: 0.6rem;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
}

.icon--search {
	color: #fff;
}

.nav-lists {
	height: 100%;

	display: flex;
	align-items: center;
	margin-left: auto;
}

.nav-list {
	height: 100%;
}

.nav-link:link,
.nav-link:visited {
	height: 100%;
	display: flex;
	align-items: center;
	color: #f03e3e;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 1.4rem;
	padding: 0 1.6rem;
	transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
	background-color: #f03e3e;
	color: #fff;
}

/* 
////////////////////////
//// HERO SECTION ////
////////////////////////
*/

.hero-section {
	background-color: #feecec;
	padding: 6.4rem 0;
}

.hero-desc {
	font-size: 2rem;
	color: #343a40;
	line-height: 1.6;
	letter-spacing: 1.5px;
	margin-bottom: 6.4rem;
}

.hero-img {
	width: 100%;
}

/* 
///////////////////////
//// TOPIC SECTION ////
///////////////////////
*/

.topic-section {
	padding: 9.6rem 0;
}

.card--topic {
	gap: 3.2rem;
	padding: 3.2rem 0;
}

.topic-logo {
	height: 6.4rem;
	width: 6.4rem;
	border-radius: 50%;
}

.total-topic {
	display: inline-block;
	font-size: 4.4rem;
	font-family: "Montserrat", sans-serif;
	background-color: #feecec;
	padding: 0.4rem 1.6rem;
	border-radius: 10rem;
}

.card--topic-more {
	height: 100%;
}

.card--topic-more .topic-link {
	height: 100%;
	display: flex;
	align-items: center;
}

.topic-link h3:hover,
.topic-link h3:active {
	color: #f03e3e;
}

/* 
//////////////////////////
//// TEAMMATE SECTION ////
//////////////////////////
*/

.teammate-section {
	background-color: #fef5f5;
	padding: 6.4rem 0 9.6rem 0;
}

.teammate-section .grid {
	display: grid;
	align-items: center;
	gap: 6.4rem;
}

.card--teammate {
	gap: 1.6rem;
	padding: 2.4rem 3.2rem;
	background-color: #fff;
}

.teammate-img {
	height: 6.4rem;
	width: 6.4rem;
	border-radius: 50%;
}

.teammate-desc {
	font-size: 1.6rem;
	color: #343a40;
	line-height: 1.5;
}
